body {
    background-image: url("/Images/AI-generated-car-design-scaled.png");
}

h1 {
color:blue;
display: flex;
justify-content: center;
}

div {
    color: white;
}

nav {
display: flex;
align-items: center;
justify-content: space-around;
}
 
.btn{
display: inline-block; 
padding: 12px 24px;
background-color: black;
border: 2px solid silver;
color: white;
text-decoration: none;
font-size: 18px;
border-radius: 40px;
transition: all 0.3s ease;
cursor: pointer;
}
.btn:hover {
background-color: white;
color: black;
text-decoration: underline;
}